body{
    background-color:#fff;
    }
     
    #myCanvas
    {
        display: block;
        margin: 0 auto;
        margin-top:10px;
        background-image: url("http://arima.bg/game/game.jpg");
        /*background-color:#2A2927;*/
        border-radius: 10px;
        border-bottom:35px solid #C2AA83;
        box-shadow: 3px 3px 0px #888888;
        padding-top:25px;
    }